@{
    ViewData["Title"] = "Yêu cầu thành công";
}
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<link rel="stylesheet" href="~/css/login.css" />

<section class="login-wrapper">
    <div class="login-container">
        <div class="login-form">
            <div class="logo">
                <img src="~/image/logo/NetflixxLogo.png" alt="Netflixx Logo" />
            </div>
            <h2>Đặt lại mật khẩu thành công</h2>
            <div class="alert alert-success">
                Mật khẩu của bạn đã được đặt lại thành công.<br />
                Vui lòng đăng nhập bằng mật khẩu mới.
            </div>

            <a asp-action="Login" asp-controller="Login" class="btn btn-primary">Đăng nhập ngay</a>
        </div>
    </div>
</section>
