
@{
    ViewData["Title"] = "Dashboard Overview";
    Layout = "_AdminLayout";
}
@{
    var AllUsersCount = ViewBag.AllUsersCount ?? 0;
    var NewUsersCount = ViewBag.NewUsersCount ?? 0;
    var totalUsers = ViewBag.TotalUsers ?? 0;
    var page = ViewBag.Page ?? 1;
    var pageSize = ViewBag.PageSize ?? 10;
}
<div class="header-green">
    <div class="left">
        <div class="breadcrumb">Netflixx &gt; User Management &gt</div>
        <div class="title">User Management</div>
    </div>
    <div class="actions">
        <button>Create Report</button>
    </div>
</div>
<div class="user-admin-panel">
    <div class="metrics-grid">
        <div class="metric-card metric-1">
            <h4>Tổng số người dùng</h4>
            <div class="line" id="totalUsersMetricLine1">492</div>
            <div class="subline" id="totalUsersMetricLine2">tăng 20%</div>

        </div>
        <div class="metric-card metric-3">
            <h4>Người dùng mới tuần này</h4>
            <div class="line" id="newUsersMetricLine1">--</div>
            <div class="subline" id="newUsersMetricLine2">--</div>
        </div>
        <div class="metric-card metric-4">
            <h4>Người dùng Vip</h4>
            <div class="line" id="PaidUsersMetricLine1">--</div>
            <div class="subline" id="PaidUsersMetricLine2">--</div>
        </div>
        <div class="metric-card metric-2">
        <h4>Người dùng hoạt động</h4>
        <div class="line" id="activeUsersMetricLine1">--</div>
        <div class="subline" id="activeUsersMetricLine2">--</div>

    </div>
    </div>



    <div class="charts-grid">
        <div class="chart-card row-1-large" data-chart-id="totalUsersChart-card">
            <div class="chart-header">
                <h3>Tổng số user theo tháng</h3>
                <div class="chart-controls">
                    <button class="btn-maximize" title="Fullscreen"><svg viewBox="0 0 24 24"><path d="M8 3H5a2 2 0 0 0-2 2v3" /><path d="M16 3h3a2 2 0 0 1 2 2v3" /><path d="M8 21H5a2 2 0 0 1-2-2v-3" /><path d="M16 21h3a2 2 0 0 0 2-2v-3" /></svg></button>
                </div>
            </div>
            <canvas style="max-height:250px"  id="totalUsersChart"></canvas>
        </div>
        <div class="chart-card row-1-small" data-chart-id="rolePieChart-card">
            <div class="chart-header">
                <h3>Phân bố theo vai trò</h3>
                <div class="chart-controls">
                    <button class="btn-maximize" title="Fullscreen"><svg viewBox="0 0 24 24"><path d="M8 3H5a2 2 0 0 0-2 2v3" /><path d="M16 3h3a2 2 0 0 1 2 2v3" /><path d="M8 21H5a2 2 0 0 1-2-2v-3" /><path d="M16 21h3a2 2 0 0 0 2-2v-3" /></svg></button>
                </div>
            </div>
            <canvas style="max-height:250px" id="rolePieChart"></canvas>
        </div>
        <div class="chart-card row-2-large" data-chart-id="newUsersChart-card">
            <div class="chart-header">
                <h3>Số user mới theo tháng</h3>
                <div class="chart-controls">
                    <button class="btn-maximize" title="Fullscreen"><svg viewBox="0 0 24 24"><path d="M8 3H5a2 2 0 0 0-2 2v3" /><path d="M16 3h3a2 2 0 0 1 2 2v3" /><path d="M8 21H5a2 2 0 0 1-2-2v-3" /><path d="M16 21h3a2 2 0 0 0 2-2v-3" /></svg></button>
                </div>
            </div>
            <canvas style="max-height:250px" id="newUsersChart"></canvas>
        </div>
        <div class="chart-card row-2-small" data-chart-id="usageTimeChart-card">
            <div class="chart-header">
                <h3>Thời gian sử dụng trung bình/ngày</h3>
                <div class="chart-controls">
                    <button class="btn-maximize" title="Fullscreen"><svg viewBox="0 0 24 24"><path d="M8 3H5a2 2 0 0 0-2 2v3" /><path d="M16 3h3a2 2 0 0 1 2 2v3" /><path d="M8 21H5a2 2 0 0 1-2-2v-3" /><path d="M16 21h3a2 2 0 0 0 2-2v-3" /></svg></button>
                </div>
            </div>
            <canvas style="max-height:250px" id="usageTimeChart"></canvas>
        </div>
       
    </div>

    <div class="card">
        <div class="toolbar">
            <div class="search-box">
                <svg class="icon" viewBox="0 0 24 24">
                    <path d="M21 20l-5.9-5.9A7 7 0 1 0 4 10a7 7 0 0 0 11.1 5.1L20 21z" />
                </svg>
                <input type="text" placeholder="Search users..." id="searchInput">
            </div>
            <button  class="btn-add" id="addUserBtn">Add New User</button>
        </div>

        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                      
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Status</th>
                        <th>Created At</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="usersTbody">
                   
                        <tr>
                        
                            @* <td>@user.Name</td>
                            <td>@user.Email</td>
                            <td>@user.Role</td>
                            @if (user.IsActive)
                            {
                                <td><span class="status-pill">Active</span></td>
                            }
                            else
                            {

                                <td><span class="status-pill">InActive</span></td>
                            }
                            <td>@user.CreatedAt.ToString("dd/MM/yyyy")</td>
                            <td>

                                <button class="action-icon edit" onclick="submitForm()" title="Edit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" viewBox="0 0 24 24">
                                        <path d="M19.14 12.94c.04-.3.06-.61.06-.94s-.02-.64-.06-.94l2.03-1.58a.5.5 0 0 0 .12-.66l-1.92-3.32a.5.5 0 0 0-.61-.22l-2.39.96a6.98 6.98 0 0 0-1.62-.94l-.36-2.54A.5.5 0 0 0 14.3 2h-4.6a.5.5 0 0 0-.49.42l-.36 2.54a7.03 7.03 0 0 0-1.62.94l-2.39-.96a.5.5 0 0 0-.61.22L2.7 8.48a.5.5 0 0 0 .12.66l2.03 1.58c-.04.3-.06.61-.06.94s.02.64.06.94l-2.03 1.58a.5.5 0 0 0-.12.66l1.92 3.32c.14.25.43.34.68.22l2.39-.96c.5.38 1.04.7 1.62.94l.36 2.54c.05.27.26.46.49.46h4.6c.24 0 .44-.19.49-.46l.36-2.54c.58-.24 1.12-.56 1.62-.94l2.39.96c.25.12.54.03.68-.22l1.92-3.32a.5.5 0 0 0-.12-.66l-2.03-1.58zM12 15.5a3.5 3.5 0 1 1 0-7 3.5 3.5 0 0 1 0 7z" />
                                    </svg>
                                </button>

                                <button class="action-icon delete" onclick="submitForm()" title="Delete">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6" />
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M15 7V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3" />
                                    </svg>
                                </button>


                            </td> *@
                        </tr>

                    

                </tbody>
            </table>
        </div>

        <div class="table-footer">
            <div id="tableInfo">Showing 1 to 10 of 42 users</div> 
            <div class="pagination" id="pagination">
                <button>&larr;</button>
                <button class="current">1</button>
                <button>2</button>
                <button>3</button>
                <button>&rarr;</button>
            </div>
        </div>
    </div>

</div>

<div id="overlay" class="overlay" style="display: none;"></div>
<script src="~/js/User.js"></script>