/* _content/Netflixx/Areas/Admin/Views/Shared/_ProfileModal.cshtml.rz.scp.css */
/* _content/Netflixx/Areas/ShopSouvenir/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-4qv9yy2r0j] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-4qv9yy2r0j] {
  color: #0077cc;
}

.btn-primary[b-4qv9yy2r0j] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-4qv9yy2r0j], .nav-pills .show > .nav-link[b-4qv9yy2r0j] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-4qv9yy2r0j] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-4qv9yy2r0j] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-4qv9yy2r0j] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-4qv9yy2r0j] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-4qv9yy2r0j] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Netflixx/Areas/SouvenirAdmin/Views/Shared/_ProfileModal.cshtml.rz.scp.css */
/* _content/Netflixx/Areas/SouvenirShop/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-t221pj0c35] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-t221pj0c35] {
  color: #0077cc;
}

.btn-primary[b-t221pj0c35] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-t221pj0c35], .nav-pills .show > .nav-link[b-t221pj0c35] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-t221pj0c35] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-t221pj0c35] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-t221pj0c35] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-t221pj0c35] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-t221pj0c35] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Netflixx/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-kmmx6y59o6] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-kmmx6y59o6] {
  color: #0077cc;
}

.btn-primary[b-kmmx6y59o6] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-kmmx6y59o6], .nav-pills .show > .nav-link[b-kmmx6y59o6] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-kmmx6y59o6] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-kmmx6y59o6] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-kmmx6y59o6] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-kmmx6y59o6] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-kmmx6y59o6] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/Netflixx/Views/Shared/_ProfileModal.cshtml.rz.scp.css */
