@model Netflixx.Models.FilmPackageViewModel
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@inject UserManager<Netflixx.Models.AppUserModel> UserManager
@inject Netflixx.Repositories.DBContext DBContext
@{
    ViewData["Title"] = "Thanh toán";
    var user = await UserManager.GetUserAsync(User);
    var account = await DBContext.UserAccounts.FirstOrDefaultAsync(a => a.UserID == user.Id);
    var coins = account?.PointsBalance ?? 0;
}
<h2>Thanh toán gói @Model.PackageName</h2>
<p>Giá: @Model.PackagePrice coin</p>
<p>Số dư hiện tại: @coins coin</p>
@if (Model.PackagePrice > coins)
{
    <p>Bạn không đủ coin để mua gói này.</p>
    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
}
else
{
    <form asp-action="Buy" method="post">
        <input type="hidden" asp-for="PackageId" />
        <input type="hidden" asp-for="PackageName" />
        <input type="hidden" asp-for="PackagePrice" />
        <button type="submit" class="btn btn-primary">Thanh toán</button>
    </form>
    <a asp-action="Index" class="btn btn-secondary mt-2">Hủy</a>
}
