@model Netflixx.Models.BrandSouModel
@{
    ViewData["Title"] = "Xóa Thương hiệu";
}
<div class="container">
    <h1>Xóa Thương hiệu</h1>
    <h3>Bạn có chắc muốn xóa thương hiệu này?</h3>
    <div>
        <h4>@Model.Name</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">Tên</dt>
            <dd class="col-sm-10">@Model.Name</dd>
            <dt class="col-sm-2">Mô tả</dt>
            <dd class="col-sm-10">@Model.Description</dd>
        </dl>
    </div>
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
    </form>
</div>
