@model Netflixx.Models.PackagesModel
@{
    ViewData["Title"] = "Package Details";
    Layout = "_Layout";
}
<div class="container py-4">
    <h2 class="mb-3">Chi tiết gói phim</h2>
    <dl class="row">
        <dt class="col-sm-2">Tên</dt>
        <dd class="col-sm-10">@Model.Name</dd>
        <dt class="col-sm-2">Mô tả</dt>
        <dd class="col-sm-10">@Model.Description</dd>
        <dt class="col-sm-2">Giá</dt>
        <dd class="col-sm-10">@Model.Price.ToString("N0") coins</dd>
    </dl>
    <h4>Danh sách phim</h4>
    <ul>
        @foreach (var pf in Model.PackageFilms ?? new List<Netflixx.Models.PackageFilmsModel>())
        {
            <li>@pf.Film?.Title</li>
        }
    </ul>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</div>
